@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>

/* Ana içerik */
    .main {
      flex: 1;
      padding: 20px;
    }


    .content-boxes {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    .box {
      background-color: #e0e0e0;
      padding: 20px;
      text-align: center;
      font-size: 18px;
      border-radius: 8px;
    }

    .logout {
      background-color: #ff4d4d;
      color: white;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .logout:hover {
      background-color: #cc0000;
    }
  </style>

<div class="main">
  
    <div class="content-boxes">
        <div class="box">Geri Dönüşüm</div>
        <div class="box">Oyunlar</div>
        <div class="box">Sürdürülebilirlik Panelleri</div>
        <div class="box">Kullanıcılar</div>
    </div>
</div>