@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h1>HELLLLLLLOOOOOOOOOOOOOOOOOOO</h1>

<h2>Admin Paneline Hoş Geldiniz</h2>
<p>Burada kullanıcıları yönetebilir, istatistikleri görebilir ve sistem ayarlarını yapabilirsiniz.</p>

<p>
    Burada ne yapmak istiyorsun?

</p>