
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hakkımızda</title>
    <link href="css/about.css" rel="stylesheet">

</head>
<body>
    <div class="about-container">

       <div class="container">
            <h1 class="text-center page-title">Hakkımızda</h1>
            <p class="subtext">TÜBİTAK 2209-A projesi kapsamında sürdürülebilir bir gelecek için çalışıyoruz.</p>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 mb-5">
                    <div class="card mission-card">Misyonumuz</div>
                        <p class="mission-description">
                            Türkiye'de sorumlu üretim ve tüketim uygulamalarının benimsenmesini ve teşvik edilmesini sağlayarak, doğal kaynakların sürdürülebilir bir şekilde yönetilmesini ve olumsuz çevresel etkilerin minimize edilmesini sağlamak.
                        </p>
                        <p class="mission-description">
                            Atık üretimini azaltmak, kaynak verimliliğini artırmak, yeşil teknolojilerin benimsenmesini teşvik etmek ve sosyal sorumluluk bilincini geliştirmek suretiyle yeşil ekonominin gelişimine katkıda bulunmak.
                        </p>
                        <p class="mission-description">
                            Bu amaçlara ulaşmak için, tüm işlevselliklerin hayata geçirilmek üzere tek elden takibinin yapılabileceği bir uygulama tasarlamak ve sunmak.
                        </p>
                </div>

                <div class="col-lg-4 col-md-6 mb-5">
                    <div class="card mission-card">Vizyonumuz</div>
                        <p class="mission-description">
                            Uluslararası sürdürülebilirlik standartlarına uygun, Türkiye'nin çevresel ve ekonomik sürdürülebilirliğine önemli bir katkı sağlayacak bir platform oluşturmak.
                        </p>
                        <p class="mission-description">
                            Farklı paydaşları bir araya getirerek, sürdürülebilir kalkınma yolunda Türkiye'ye öncülük etmek.
                        </p>
                        <p class="mission-description">
                            Gelecek nesiller için daha yaşanabilir bir dünya bırakmak.
                        </p>
                </div>
            </div>

       </div>
    </div>
</body>
</html>
